a {
    cursor: pointer;
}

footer {
	margin: 25px 0;
}

.help-block {
    font-size: 12px;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.card {
    margin: 0 auto;
    width: 400px;
}

/** Toolbar Layout */
/*md-toolbar.md-primary,
[md-fab].md-primary,
[md-mini-fab].md-primary,
[md-raised-button].md-primary {
	background-color: #0084FF;
}

[md-button],
[md-fab],
[md-icon-button],
[md-mini-fab],
[md-raised-button] {
	background-color: #ccc;
}*/