<div class="container">
	<h2 class="description">Nuestro Equipo</h2>
	<div class="row pt-md">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile text-center">
			<div class="img-box">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle img-thumbnail">
			<ul class="text-center">
				<a class="" href="#"><li><i class="fa fa-facebook"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-twitter"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-linkedin"></i></li></a>
			</ul>
			</div>
			<h2>Javier Rincon</h2>
			<h3>Asesor Tecnico</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile text-center">
			<div class="img-box">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle img-thumbnail">
			<ul class="text-center">
				<a class="" href="#"><li><i class="fa fa-facebook"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-twitter"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-linkedin"></i></li></a>
			</ul>
			</div>
			<h2>Jesus Rincon</h2>
			<h3>Coordinador</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile text-center">
			<div class="img-box">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle img-thumbnail">
			<ul class="text-center">
				<a class="" href="#"><li><i class="fa fa-facebook"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-twitter"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-linkedin"></i></li></a>
			</ul>
			</div>
			<h2>Julmer Olivero</h2>
			<h3>Fullstack Developer</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile text-center">
			<div class="img-box">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle img-thumbnail">
			<ul class="text-center">
				<a class="" href="#"><li><i class="fa fa-facebook"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-twitter"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-linkedin"></i></li></a>
			</ul>
			</div>
			<h2>Jorge Rodriguez</h2>
			<h3>Web Developer</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile text-center">
			<div class="img-box">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle img-thumbnail">
			<ul class="text-center">
				<a class="" href="#"><li><i class="fa fa-facebook"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-twitter"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-linkedin"></i></li></a>
			</ul>
			</div>
			<h2>Alejandro Barrios</h2>
			<h3>Diseñador 3D</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile text-center">
			<div class="img-box">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle img-thumbnail">
			<ul class="text-center">
				<a class="" href="#"><li><i class="fa fa-facebook"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-twitter"></i></li></a>
				<a class="" href="#"><li><i class="fa fa-linkedin"></i></li></a>
			</ul>
			</div>
			<h2>Alejandro Quiñones</h2>
			<h3>Ilustrador</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
</div>