<!-- Header -->
<header [hidden]="isHidden()" class="container-full">
    <nav class="nav navbar navbar-inverse info-navbar" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-text">
                    <i class="material-icons hidden-sm hidden-xs">mail_outline</i>
                    <span class="material-icons hidden-lg hidden-md"></span>
                <a class="link" href="mailto:info@softars.com">
                    <span class="hidden-sm hidden-xs">info@softars.com</span>
                    <span class="hidden-lg hidden-md"><i class="fa fa-envelope"></i></span>
                </a>
                </span>
                <span class="navbar-text">
                    <i class="material-icons hidden-sm hidden-xs">phone</i>
                    <span class="material-icons hidden-lg hidden-md"></span>
                <a class="link" href="tel:+582656316715">
                    <span class="hidden-sm hidden-xs">+58 265 631 6715</span>
                    <span class="hidden-lg hidden-md"><i class="fa fa-phone"></i></span>
                </a>
                </span>
                <span class="pull-right navbar-element hidden-md hidden-lg">
                    <span>
                        <a class="link" (click)="changeLang('en')">EN</a> | <a class="link" (click)="changeLang('es')">ES</a>
                    </span>
                    <button md-raised-button color="primary" routerLink="/contactenos"><i class="fa fa-comments"></i></button>
                    <button *ngIf="!logStatus()" md-raised-button color="primary" routerLink="/login"><i class="fa fa-sign-in"></i></button>
                    <span *ngIf="logStatus()" dropdown (onToggle)="toggled($event)">
                        <a href id="simple-dropdown" class="link" dropdownToggle>
                            {{ currentUser.user.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                            <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a [routerLink]="['/login']">{{ "button.logout" | translate }}</a></li>
                        </ul>
                    </span>
                </span>
            </div>
            <div class="navbar-right pull-right hidden-sm hidden-xs">
                <div class="navbar-element">
                    <span>
						<a class="link" (click)="changeLang('en')">EN</a> | <a class="link" (click)="changeLang('es')">ES</a>
					</span>
                    <button md-raised-button color="primary" [routerLink]="['/contactenos']">{{ "contact-us" | translate }}</button>
                    <button *ngIf="!logStatus()" md-raised-button color="primary" [routerLink]="['/login']">{{ "button.login" | translate }}</button>
                    <span *ngIf="logStatus()" dropdown (onToggle)="toggled($event)">
                        <a href id="simple-dropdown" class="link" dropdownToggle>
                            {{ currentUser.user.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                            <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a [routerLink]="['/login']">{{ "button.logout" | translate }}</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </nav>
    <div class="top-banner">
        <div class="logo">
            <div class="container">
                <img src="assets/images/logo.png" alt="Logo" />
                <h5>{{ "sub-title" | translate }}</h5>
            </div>
        </div>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
                </div>
                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="navbar-collapse collapse">
                    <ul class="nav nav-pills nav-justified">
                        <li [routerLink]="['/home']" routerLinkActive="active"><a>{{ "home" | translate }}</a></li>
                        <li [routerLink]="['/nosotros']" routerLinkActive="active"><a>{{ "the-team" | translate }}</a></li>
                        <!-- li [routerLink]="['/portafolio'] routerLinkActive="active""><a>{{ "portfolio" | translate }}</a></li -->
                        <li [routerLink]="['/acerca-de']" routerLinkActive="active"><a>{{ "about-us" | translate }}</a></li>
                        <li [routerLink]="['/contactenos']" routerLinkActive="active"><a>{{ "contact-us" | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- main app container -->
<my-fader [isVisible]="isVisible">
    
</my-fader>
<!-- credits -->
<footer [hidden]="isHidden() " class="container-full ">
    <div class="container text-center ">
        <p>
            {{ currentDate.getFullYear() }} &copy; Copyright SoftArs CMS | Powered by <a href="http://softars.com " target="_top ">SoftArs, Inc.</a>
        </p>
    </div>
</footer>