<div class="home-group-box">
    <div class="container">
        <h2 class="post-title text-center"></h2>
        <div class="col-md-4">
            <div class="home-box text-center">
                <i class="fa fa-tv"></i>
                <h3>{{ "page.web" | translate }}</h3>
                <p>{{ "page.web-text" | translate }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="home-box text-center">
                <i class="fa fa-mobile"></i>
                <h3>{{ "page.mobile" | translate }}</h3>
                <p>{{ "page.mobile-text" | translate }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="home-box text-center">
                <i class="fa fa-gamepad"></i>
                <h3>{{ "page.vg" | translate }}</h3>
                <p>{{ "page.vg-text" | translate }}</p>
            </div>
        </div>
    </div>
</div>
<div class="home-second-section">
    <div class="container">
        <h3 class="post-title text-center">{{ "page.sub-title-1" | translate }}</h3>
        <p class="text-center">{{ "page.section-2-text" | translate }}</p>
        <div class="flex-layout">
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive" src="assets/images/angular.png">
                </div>
            </div>
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive" src="assets/images/HTML5.png">
                </div>
            </div>
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive" src="assets/images/css3.png">
                </div>
            </div>
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive extjs" src="assets/images/extjs-logo.png">
                </div>
            </div>
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive meteor" src="assets/images/meteor-logo.png">
                </div>
            </div>
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive unity" src="assets/images/unity-logo.png">
                </div>
            </div>
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive" src="assets/images/bootstrap-logo.png">
                </div>
            </div>
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive" src="assets/images/javascript.png">
                </div>
            </div>
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive sass" src="assets/images/sass-logo.png">
                </div>
            </div>
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive laravel" src="assets/images/laravel-logo.png">
                </div>
            </div>
            <div class="flex-item">
                <div class="text-center center-block">
                    <img class="img-responsive laravel" src="assets/images/logo-blender.png">
                </div>
            </div>
        </div>
    </div>
</div>