<div class="col-md-12">
    <h2 class="post-title text-center"></h2>
	<div class="col-md-4">
		<div class="home-box text-center">
			<i class="material-icons">devices</i>
			<h3>Aplicaciones Web</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="home-box text-center">
			<i class="material-icons">developer_mode</i>
			<h3>Aplicaciones Movil</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="home-box text-center">
			<i class="material-icons">videogame_asset</i>
			<h3>Video Juegos</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="row second-section">
		<h3 class="post-title text-center">Desarrollamos con tecnologias de Ultima Generación</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
		<div class="flex-layout">
			<div class="flex-item">
				<div class="text-center center-block">
					<img class="img-responsive" src="assets/images/angular.png">
				</div>
			</div>
			<div class="flex-item">
				<div class="text-center center-block">
					<img class="img-responsive" src="assets/images/HTML5.png">
				</div>
			</div>
			<div class="flex-item">
				<div class="text-center center-block">
					<img class="img-responsive" src="assets/images/css3.png">
				</div>
			</div>
			<div class="flex-item">
				<div class="text-center center-block">
					<img class="img-responsive extjs" src="assets/images/extjs-logo.png">
				</div>
			</div>
			<div class="flex-item">
				<div class="text-center center-block">
					<img class="img-responsive meteor" src="assets/images/meteor-logo.png">
				</div>
			</div>
			<div class="flex-item">
				<div class="text-center center-block">
					<img class="img-responsive unity" src="assets/images/unity-logo.png">
				</div>
			</div>
			<div class="flex-item">
				<div class="text-center center-block">
					<img class="img-responsive" src="assets/images/bootstrap-logo.png">
				</div>
			</div>
			<div class="flex-item">
				<div class="text-center center-block">
					<img class="img-responsive" src="assets/images/javascript.png">
				</div>
			</div>
			<div class="flex-item">
				<div class="text-center center-block">
					<img class="img-responsive sass" src="assets/images/sass-logo.png">
				</div>
			</div>
			<div class="flex-item">
				<div class="text-center center-block">
					<img class="img-responsive laravel" src="assets/images/laravel-logo.png">
				</div>
			</div>
		</div>
	</div>
</div>