<md-sidenav-layout>
    <!-- Header -->
    <header class="header">
        <md-toolbar color="primary">
            <nav class="container">
                <i class="material-icons">mail_outline</i><span class="toolbar-text">info@softars.com</span>
            </nav>
        </md-toolbar>
        <md-sidenav #sidenav>

        </md-sidenav>
    </header>

    <!-- main app container -->
    <div class="container">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>

    <!-- credits -->
    <footer>
        <div class="text-center">
            <p>
                SoftArs CMS - Powered by <a href="http://softars.com" target="_top">SoftArs, Inc.</a> - {{ currentDate.getFullYear() }}
            </p>
        </div>
    </footer>
</md-sidenav-layout>