<div class="text-center">
    <md-toolbar style="width: 400px; margin: 0 auto;" color="primary"><h2>Login</h2></md-toolbar>
    <md-card class="card" >
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <md-card-content>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <md-input-container class="full-width">
                    <input md-input type="email" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel" required [ngModelOptions]="{standalone: true}" />
                    <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                </md-input-container>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <md-input-container class="full-width">
                    <input md-input type="password" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required [ngModelOptions]="{standalone: true}" />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions class="text-center">
                <span>
                    <button [disabled]="loading" md-raised-button color="primary">Login</button>
                </span>
                <span class="spacer"></span>
                <a [routerLink]="['/register']" md-button>Signup!</a>
            </md-card-actions>
        </form>
    </md-card>
</div>